/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Color Variables
$color-primary: #FF6F61;   // Light Coral
$color-secondary: #66C2FF; // Sky Blue
$color-tertiary: #FFA500;  // Soft Orange
$color-accent: #9C8DC0;    // Lavender
$color-background: #333333; // Charcoal Gray

// Size Variables
$breakpoint-tablet: 768px; // tablet media query breakpoint
