/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Color Variables
$color-primary: #FF6F61;   // Light Coral
$color-secondary: #66C2FF; // Sky Blue
$color-tertiary: #FFA500;  // Soft Orange
$color-accent: #9C8DC0;    // Lavender
$color-background: #333333; // Charcoal Gray
$color-teal-primary: #58e1c1;    // Light Teal (used for primary buttons, etc.)
$color-gray-text: #777;          // Gray (used for text, borders, etc.)
$color-light-blue: #51ddfc;      // Light Blue (used for links)

// Size Variables
$breakpoint-tablet: 768px; // tablet media query breakpoint
