/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $color-background;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $color-background;
}

a {
  text-decoration: none;
  color: $color-secondary;  
}

a:hover {
  color: $color-accent;  
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: $color-primary;  
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: $color-primary;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-primary; 
}

.headline-primary {
  color: $color-primary;  
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color: $color-background; 
}

.link {
  color: $color-secondary;  
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $color-primary;
  border-radius: 5px;
}
